<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haber Ekle</title>
    <link rel="stylesheet" href="~/css/newsAdd.css"> <!-- Stilleri ayarlamak için bir CSS dosyası ekleyebilirsiniz -->
</head>
<body style="background-color:black">
    @{
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
    }
    <div class="container">
        <h2>Haber Ekle</h2>
        <form action="haber_ekle.php" method="post" enctype="multipart/form-data">
            <label for="baslik">Başlık:</label>
            <input type="text" id="baslik" name="baslik" required>

            <label for="icerik">İçerik:</label>
            <textarea id="icerik" name="icerik" rows="8" required></textarea>

            <label for="resim">Resim:</label>
            <input type="file" id="resim" name="resim" accept="image/*" required>

            <button type="submit">Haber Ekle</button>
        </form>
    </div>

</body>
</html>