<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee><h2>>EREN BABA 31 CM</marquee></h2
    <!-- Buraya HTML içeriğinizi ekleyebilirsiniz -->

</body>
</html>