<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Header.css" />

    <title>Web Siteniz</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="~/images/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Haber ekle</a></li>
                <li><a href="#">Haber silme</a></li>
                <li><a href="#">Teşkilat ekle</a></li>

            </ul>
        </nav>
    </div>

    <div id="content">
        <div class="container mt-5">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
   

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>